# Core Flask
flask==3.0.0
flask-cors==4.0.0

# Database
pymongo==4.5.0
flask-pymongo==2.3.0

# Authentication
flask-bcrypt==1.0.1
flask-jwt-extended==4.5.2

# Data Validation
pydantic==2.5.2
pydantic-settings==2.0.3

# Environment
python-dotenv==1.0.0
